/**
 * Mixin to generate the buttons.
 */
@mixin buttons {
    text-decoration: none;
    border-radius: var(--wp--custom--border-radius--sm);
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--30);
    justify-content: space-between;
    cursor: pointer;
}

@mixin button-colors($whichcolor: primary) {
    color: var(--wp--preset--color--neutral-light);

    @if primary == $whichcolor {
        background-color: var(--wp--preset--color--primary);
        border: 2px solid var(--wp--preset--color--primary);

        &:visited {
            color: var(--wp--preset--color--neutral-light);

            &:hover {
                color: var(--wp--preset--color--primary);
                background-color: var(--wp--preset--color--neutral-light);
            }
        }

        &:hover,
        &:focus,
        &:active {
            color: var(--wp--preset--color--primary);
            background-color: var(--wp--preset--color--neutral-light);
        }

        &:not(a):focus {
            border-radius: var(--wp--custom--border-radius--sm);
            outline: 1px dotted var(--wp--preset--color--primary);
            outline-offset: 2px;
        }
    } @else if secondary == $whichcolor {
        background-color: var(--wp--preset--color--secondary);
        border: 2px solid var(--wp--preset--color--secondary);

        &:visited {
            color: var(--wp--preset--color--neutral-light);

            &:hover {
                color: var(--wp--preset--color--secondary);
                background-color: var(--wp--preset--color--neutral-light);
            }
        }

        &:hover,
        &:focus,
        &:active &:visited {
            color: var(--wp--preset--color--secondary);
            background-color: var(--wp--preset--color--neutral-light);
        }

        &:not(a):focus {
            border-radius: var(--wp--custom--border-radius--sm);
            outline: 1px dotted var(--wp--preset--color--secondary);
            outline-offset: 2px;
        }
    }

    &:disabled,
    [disabled="true"] {
        color: var(--wp--preset--color--neutral-dark);
        background-color: #c0c0c0;
        border-color: #c0c0c0;
    }
}
