@use "../../abstracts/mixins/handlecolors";

body,
button,
input,
select,
optgroup,
textarea {
    color: var(--wp--preset--color--neutral-dark);
    font-family: var(--wp--preset--font-family--text);
    font-size: var(--wp--preset--font-size--small);
    line-height: var(--wp--custom--line-height--body);
}

.darkbg {
    @include handlecolors.darkbg;
}
