input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: var(--wp--preset--color--neutral-dark);
    border: 1px solid var(--wp--preset--color--neutral-dark);
    border-radius: var(--wp--custom--border--radius--sm);
    padding: 3px;
    line-height: var(--wp--custom--line-height--body);

    &:focus {
        color: var(--wp--preset--color--neutral-dark);
    }
}

select {
    border: 1px solid var(--wp--preset--color--neutral-dark);
}

textarea {
    width: 100%;
}
